/******************* Home Classes *******************/
#title-wrapper {
  position: absolute;
  width: 100%;
  margin: 25% auto;
  margin-top: 8rem;
}
#title-wrapper h3 {
  padding: 0 1rem;
}



/******************* D3 Classes *******************/
svg{
  padding-top: 25px;
}
.node {
  cursor: pointer;
}

.node circle {
  stroke-width: 1.5px;
  border-radius: 50%;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


/* part of spotify login */
#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

/******************* Desktop View!!! *******************/
@media only screen and (min-width: 960px) {
  div #title-wrapper {
    margin-top: 14rem;
  }
}