
/* classes for D3 nodes */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#artist_image {
  border-radius: 50%;
  
}

.node text {
  font: 12px sans-serif;
  color: firebrick
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/* part of spotify login */
#login, #loggedin {
  display: none;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

